<div id="side-quick-links">
    <ul>
        <li class="call">
            <a href="tel:+917665083556">
                <i class="fa fa-phone"></i>
                <div class="content">+91-76650 83556</div>
            </a>
        </li>
        <li class="marker">
            <a href="enquiry.html">
                <i class="fa fa-file-lines"></i>
                <div class="content">Apply Now</div>
            </a>
        </li>
        <li class="whatapp">
            <a href="https://wa.me/917665083556" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <div class="content">WhatsApp</div>
            </a>
        </li>
    </ul>
</div>

<div class="top-bar">
    <div class="top-bar-left">
        <a href="tel:+917665083556"><i class="fa fa-phone"></i> +91-76650 83556</a>
    </div>
    <div class="top-bar-right social-top">
        <a href="https://www.facebook.com/kingscourtworldschool/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/kingscourtworldschool/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@KINGSCOURTWORLDSCHOOL" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
</div>

<nav>
    <div class="logo">
        <a href="/">
            <img src="/logoKCWS.png" alt="Kings Court World School Logo" style="height: 50px; width: auto; object-fit: contain;">
        </a>
    </div>
    <div class="hamburger" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <ul class="nav-links">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="about.html">About us</a></li>
        
        <li class="nav-item">
            <a href="javascript:void(0)">Programs <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="playgroup_jal.html">Playgroup – Jal</a></li>
                <li><a href="nursery_agni.html">Nursery – Agni</a></li>
                <li><a href="junior_kg_vayu.html">Junior KG – Vayu</a></li>
                <li><a href="senior_kg_akash.html">Senior KG – Akash</a></li>
            </ul>
        </li>

        <li class="nav-item"><a href="enquiry.html">Admissions</a></li>
        
        <li class="nav-item"><a href="gallery.php">Gallery</a></li>
        <li class="nav-item"><a href="blog.html">Blogs</a></li>
            
        <li class="nav-item"><a href="contact.html">Contact</a></li>
        <li><a href="enquiry.html" class="cta-btn">Apply Online</a></li>
    </ul>
</nav>
